.header-logo {
    margin: auto;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 180px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
}
.logo-line {
    width: 200px;
    border-bottom: solid #FF3502 5px;
}
.title-brand {
    text-align: center;
    font-size: 150%;
}
.callback {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.callback-mobile {
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-image: url(/img/mobile.png);
    background-repeat: no-repeat;
}
.callback-skype {
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-image: url(/img/skype.png);
    background-repeat: no-repeat;
}
.callback-globe {
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-image: url(/img/globe.png);
    background-repeat: no-repeat;
}
.callback-title {
    text-align: left;
    font-size: 100%;
    padding: 3px;
}
.callback-tel {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    padding: 3px;
    border-left: solid #FF3502 3px;
}

@media all and (max-width: 1200px) {
    .header-logo {
        width: 700px;
    }
    .logo-line {
        width: 150px;
    }
    .title-brand {
        font-size: 130%;
    }
    .callback-tel {
        display: none;
    }
    .globe {
        display: none;
    }
}
@media all and (max-width: 700px) {
    .header-logo {
        width: 100%;
    }
    .logo-line {
        width: 100px;
    }
    .logo {
        width: 100px;
        height: 85px;
        background-image: url(/img/logo-s.png);
    }
    .callback-mobile {
        width: 35px;
        height: 35px;
        background-image: url(/img/mobile-s.png);
    }
    .callback-skype {
        width: 35px;
        height: 35px;
        background-image: url(/img/skype-s.png);
    }
    .title-brand {
        font-size: 90%;
    }
    .callback-title {
        font-size: 90%;
    }
}
@media all and (max-width: 450px) {
    .logo {
        display: none;
    }
}