<div class="header-logo">
    <div class="logo" routerLink="/home"></div>
    <div>
        <div class="title-brand">
            Мир
        </div>
        <div class="logo-line"></div>
        <div class="title-brand">
            Кровли и Фасада
        </div>
    </div>
    <div class="callback" routerLink="/callback">
        <div class="callback-mobile"></div>
        <div class="callback-title">
            Заказать<br> обратный<br> звонок
        </div>
    </div>
    <div class="callback">
        <div class="callback-skype"></div>
        <div class="callback-title">
            МКФ<br> skype<br> example
        </div>
    </div>
    <div class="callback globe">
        <div class="callback-globe"></div>
        <div class="callback-title">
            Республика Беларусь<br>
            г. Могилев, ул. Примерная, 77А К7
        </div>
    </div>
    <div class="callback-tel">
        <div class="callback-title">
            +375(77)777-77-77
        </div>
        <div class="callback-title">
            example@gmail.com
        </div>
    </div>
</div>



