<div class="footer-info">
    <div class="info">
        <div class="info-title">
            Больше 30 лет опыта
        </div>
        <div class="info-description">
            Мы постоянно ищем возможности повысить качество нашего товара, удобство его монтажа и комфорт эксплуатации.
        </div>
    </div>
    <div class="info">
        <div class="info-title">
            Наши услуги
        </div>
        <div class="info-description">
            - Доставка<br>
            - Монтаж<br>
            - Гарантия<br>
        </div>
    </div>
    <div class="info">
        <div class="info-title">
            Наш адрес
        </div>
        <div class="info-description">
            Республика Беларусь<br>
            г. Могилев, ул. Примерная, 77А К7
        </div>
    </div>
</div>
<div class="footer-copyright">
    © 2017 Мир кровли и фасада
</div>