a:visited {
    color: black;
}
a {
    color: black;
    text-decoration: none;
}
.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 30px 0;
    background-color: #3c3c3c;
}
.info {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #bbbbc0;
}
.info-title {
    font-size: 150%;
}
.footer-copyright {
    padding: 10px 0;
    color: #9b9999;
    background-color: #242424;
}
@media all and (max-width: 750px) {
    .footer-info {
        flex-direction: column;
    }
}
