header {
    display: block;
    margin: auto;
    width: 100%;
}
navigation {
    display: block;
    margin: auto;
    padding: 2px 0 2px 0;
    width: 100%;
    background-color: ghostwhite;
}
.router-outlet {
    /*padding-bottom: 229px;*/
}
footer {
    width: 100%;
    /*height: 230px;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.page {
    /*display: block;*/
    /*width: 100%;*/
    /*position: relative;*/
    /*min-height: 100%;*/
}
/*@media all and (max-width: 1100px) {*/
    /*.router-outlet {*/
        /*padding-bottom: 239px;*/
    /*}*/
/*}*/
/*@media all and (max-width: 850px) {*/
    /*.router-outlet {*/
        /*padding-bottom: 260px;*/
    /*}*/
/*}*/
/*@media all and (max-width: 750px) {*/
    /*.router-outlet {*/
        /*padding-bottom: 348px;*/
    /*}*/
    /*footer {*/
        /*display: block;*/
    /*}*/
/*}*/

