.nav {
    width: 1100px;
    margin: auto;
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}
button {
    background-color: ghostwhite;
    border: none;
    color: black;
    padding: 0.7rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    background-color: #FF3502;
    color: ghostwhite;
}
button.active {
    background-color: #FF3502;
    color: ghostwhite;
}

@media all and (max-width: 1200px) {
    .nav {
        width: 700px;
    }
}
@media all and (max-width: 900px) {
    button {
        padding: 0.5rem 0.3rem;
    }
}
@media all and (max-width: 700px) {
    .nav {
        width: 100%;
    }
}