<div class="nav">
    <div class="nav-buttons">
        <button routerLink="/home" routerLinkActive="active">Главная</button>
        <button routerLink="/products" routerLinkActive="active">Каталог</button>
        <button routerLink="/contacts" routerLinkActive="active">Контакты</button>
        <button routerLink="/video" routerLinkActive="active">Видео</button>
    </div>
</div>
