/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E3E3E3;
    min-height: 100%;
}
app-root {
    flex: 1 0 auto;
    /*display: flex;*/
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
}