.details {
    margin: auto;
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 50px 0 0 0;
}
.detail-sticker {
    height: 550px;
    width: 250px;
    background-color: ghostwhite;
    padding: 3px;
    cursor: pointer;
}
.sticker {
    height: 100%;
    width: 100%;
    background-color: #FF3502;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.sticker:hover {
    background-color: #ff6c06;
}
.sticker-even {
    height: 100%;
    width: 100%;
    background-color: #FF3502;
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: center;
}
.sticker-even:hover {
    background-color: #ff6c06;
}
.sticker-title {
    width: 100%;
    padding: 15px 0;
    color: ghostwhite;
    font-size: 170%;
}
.sticker-img1 {
    width: 100%;
    height: 470px;
    border-top: solid ghostwhite 3px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/sticker1.jpg);
    background-repeat: no-repeat;
}
.sticker-img1:hover {
    background-image: url(/img/logo.png);
}
.sticker-img2 {
    width: 100%;
    height: 470px;
    border-bottom: solid ghostwhite 3px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/sticker2.jpg);
    background-repeat: no-repeat;
}
.sticker-img2:hover {
    background-image: url(/img/logo.png);
}
.sticker-img3 {
    width: 100%;
    height: 470px;
    border-top: solid ghostwhite 3px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/sticker3.jpg);
    background-repeat: no-repeat;
}
.sticker-img3:hover {
    background-image: url(/img/logo.png);
}
.sticker-img4 {
    width: 100%;
    height: 470px;
    border-bottom: solid ghostwhite 3px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/sticker4.jpg);
    background-repeat: no-repeat;
}
.sticker-img4:hover {
    background-image: url(/img/logo.png);
}
.point {
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 14px 0 0 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: ghostwhite;
    z-index: 5;
}
.point-even {
    width: 30px;
    height: 30px;
    position: absolute;
    margin: -79px 0 0 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: ghostwhite;
    z-index: 5;
}
.img-frame {
    width: 238px;
    height: 458px;
    margin: 5px;
    background-color: transparent;
    border: solid whitesmoke 1px;
    box-sizing: content-box;
}
.img-text {
    font-size: 150%;
    color: ghostwhite;
    top: 0;
    padding: 0 5px;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
}
.img-text:hover {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 50px 0 0 0;
    background-color: #FF3502;
}
.services-separator {
    display: block;
    width: 5px;
    height: 4rem;
    margin: 40px 0;
    background-color: ghostwhite;
}
.service {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: ghostwhite;
}
.service-title {
    font-size: 150%;
}
.service-description {
    padding: 5px 25px;
}
.visits {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 50px 0;
    background-color: ghostwhite;
}
.visit {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
}
.visit-title {
    background-color: #FF3502;
    color: ghostwhite;
}
.visit-title:hover {
    background-color: #ff6c06;
}
.visit-title, .visit-description{
    padding: 20px;
}
.visit-sticker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.visit-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/time.png);
    background-repeat: no-repeat;
}
.offerings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0;
}
.offerings-line {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.offering-step {
    padding: 30px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.offering-title {
    padding: 50px 20px 20px 20px;
    font-size: 150%;
}
.offering-description {
    padding: 20px;
    font-size: 110%;
}
.step-pick1 {
    width: 36px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/location.png);
    background-repeat: no-repeat;
}
.step-pick2 {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/coins.png);
    background-repeat: no-repeat;
}
.step-pick3 {
    width: 83px;
    height: 50px;
    overflow: hidden;
    position: relative;
    background-image: url(/img/proff.png);
    background-repeat: no-repeat;
}
.step-title {
    padding: 20px;
    font-size: 150%;
}
.step-description {
    padding: 20px;
    font-size: 100%;
}
.offering2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.brands {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 50px 0 0 0;
    background-color: ghostwhite;
}
.brands-title {
    padding: 50px 0 0 0;
    font-size: 150%;
}
.brands-list {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 0 50px 0;
    background-color: ghostwhite;
}
.brand1, .brand2, .brand3, .brand4, .brand5, .brand6, .brand7 {
    height: 74px;
    margin: 10px;
}
.brand1 {
    width: 300px;
    position: relative;
    background-image: url(/img/brands/blachy-pruszynski.png);
    background-repeat: no-repeat;
}
.brand2 {
    width: 167px;
    position: relative;
    background-image: url(/img/brands/docke.png);
    background-repeat: no-repeat;
}
.brand3 {
    width: 300px;
    position: relative;
    background-image: url(/img/brands/penoplex.png);
    background-repeat: no-repeat;
}
.brand4 {
    width: 99px;
    position: relative;
    background-image: url(/img/brands/vox.png);
    background-repeat: no-repeat;
}
.brand5 {
    width: 280px;
    position: relative;
    background-image: url(/img/brands/shinglas.png);
    background-repeat: no-repeat;
}
.brand6 {
    width: 192px;
    position: relative;
    background-image: url(/img/brands/velux.png);
    background-repeat: no-repeat;
}
.brand7 {
    width: 300px;
    position: relative;
    background-image: url(/img/brands/rockwool.png);
    background-repeat: no-repeat;
}
.brand1:hover {
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.brand2:hover {
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.brand3:hover {
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.brand4:hover {
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.brand5:hover {
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.brand6:hover {
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.brand7:hover {
    filter: grayscale(100%);
    transition: filter 0.5s;
}
.feedbacks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0;
    background-color: #FF3502;
}
.feedbacks-separator {
    display: block;
    width: 5px;
    height: 4rem;
    margin: 10px 0;
    background-color: ghostwhite;
}
.feedback {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: ghostwhite;
}
.feedback-title {
    font-size: 150%;
}
.feedback-description {
    padding: 5px 25px;
}
@media all and (max-width: 1200px) {
    .details {
        margin: auto;
        width: 750px;
        flex-flow:row wrap;
        justify-content: space-around;
    }
    .detail-sticker {
        width: 350px;
        margin: auto auto 5px auto;
    }
    .img-frame {
        width: 338px;
    }
    .offerings-line {
        width: 750px;
    }
    .brands-list {
        width: 100%;
    }
}
@media all and (max-width: 750px) {
    .details {
        width: 370px;
        flex-direction: column;
        justify-content: space-around;
    }
    .detail-sticker {
        width: 350px;
    }
    .visits {
        flex-direction: column;
    }
    .visit {
        width: 300px;
    }
    .services {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 0.7;
    }
    .services-separator {
        width: 10rem;
        height: 0.1rem;
        margin: 0;
    }
    .feedbacks {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        opacity: 0.7;
    }
    .feedbacks-separator {
        width: 10rem;
        height: 0.1rem;
        margin: 0;
    }
    .offering2 {
        flex-direction: column;
    }
    .offerings-line {
        width: 300px;
    }
}
@media all and (max-width: 500px) {
    .details {
        width: 300px;
    }
    .detail-sticker {
        width: 300px;
    }
    .img-frame {
        width: 288px;
    }
}