<div class="details">
    <div class="detail-sticker">
        <div class="sticker">
            <div class="sticker-title">Большой выбор
                <div class="point"></div>
            </div>
            <div class="sticker-img1">
                <div class="img-frame"></div>
                <div class="img-text">
                    <p>Наши продукты имеют множество вариаций и цветовых решений. Любые Ваши идеи будут претворены в жизнь.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-sticker">
        <div class="sticker-even">
            <div class="sticker-title">Инновации
                <div class="point-even"></div>
            </div>
            <div class="sticker-img2">
                <div class="img-frame"></div>
                <div class="img-text">
                    <p>Мы постоянно ищем возможности повысить качество нашего товара, удобство его монтажа и комфорт эксплуатации.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="detail-sticker">
        <div class="sticker">
            <div class="sticker-title">Качество
                <div class="point"></div>
            </div>
            <div class="sticker-img3">
                <div class="img-text">
                    <p>Тщательный выбор поставщиков и сырья. Весь входящий материал и готовая продукция тестируется в собственной лаборатории.</p>
                </div>
                <div class="img-frame"></div>
            </div>
        </div>
    </div>
    <div class="detail-sticker">
        <div class="sticker-even">
            <div class="sticker-title">Гарантия
                <div class="point-even"></div>
            </div>
            <div class="sticker-img4">
                <div class="img-text">
                    <p>Мы даем уникальную письменную гарантию на наш продукт до 50 лет.</p>
                </div>
                <div class="img-frame"></div>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="service">
        <div class="service-title">
            Доставка
        </div>
        <div class="service-description">
            Наша компания осуществляет доставку розничных заказов по всему городу.
        </div>
    </div>
    <div class="services-separator"></div>
    <div class="service">
        <div class="service-title">
            Гарантии
        </div>
        <div class="service-description">
            Необходимо строго соблюдать правила хранения продукции.
        </div>
    </div>
    <div class="services-separator"></div>
    <div class="service">
        <div class="service-title">
            Монтаж
        </div>
        <div class="service-description">
            Даже самые лучшие материалы для кровли, фасада, ограждений требуют грамотного монтажа.
        </div>
    </div>
</div>

<div class="visits">
    <div class="visit">
        <div class="visit-title">
            ПРИХОДИТЕ И ПОСЕТИТЕ НАС
        </div>
        <div class="visit-description">
            Приглашаем в наш офис, где Вы сможете посмотреть на ассортимент материалов.
        </div>
    </div>
    <div class="visit">
        <div class="visit-sticker">
            <!--<div class="visit-title">-->
                <!--Запланируйте свой визит.-->
            <!--</div>-->
            <div class="visit-img"></div>
        </div>
    </div>
</div>

<div class="offerings">
    <div class="offerings-line">
        <div class="offering1">
            <div class="offering-title">
                Предлагаем Вам лучшее решение для Вашего дома.
            </div>
            <div class="offering-description">
                Прекрасное сочетание материалов в аспектах технологии и дизайна, а также экономия времени на подбор.
            </div>
        </div>
        <div class="offering2">
            <div class="offering-step">
                <div class="step-pick1"></div>
                <div class="step-title">
                    Всегда открыты для Вас
                </div>
                <div class="step-description">
                    Прекрасное сочетание материалов в аспектах технологии и дизайна, а также экономия времени на подбор.
                </div>
            </div>
            <div class="offering-step">
                <div class="step-pick2"></div>
                <div class="step-title">
                    Самые лучшие цены
                </div>
                <div class="step-description">
                    Производство продукции по вашим размерам позволяет Вам не переплачивать за лишний материал. Долговечные материалы дают возможность тратиться на стройку один раз в 50 лет.
                </div>
            </div>
            <div class="offering-step">
                <div class="step-pick3"></div>
                <div class="step-title">
                    Профессиональный подход
                </div>
                <div class="step-description">
                    Мы постоянно ищем возможности повысить качество нашего товара, удобство его монтажа и комфорт эксплуатации.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brands">
    <div class="brands-title">
        Работаем только с  качественными брендами:
    </div>
    <div class="brands-list">
        <div class="brand1"></div>
        <div class="brand2"></div>
        <div class="brand3"></div>
        <div class="brand4"></div>
        <div class="brand5"></div>
        <div class="brand6"></div>
        <div class="brand7"></div>
    </div>
</div>

<div class="feedbacks">
    <div class="feedback">
        <div class="feedback-title">
            Позвоните нам
        </div>
        <div class="feedback-description">
            Tel: 123-456-7890 | Fax: 123-456-7890
        </div>
    </div>
    <div class="feedbacks-separator"></div>
    <div class="feedback">
        <div class="feedback-title">
            Напишите нам
        </div>
        <div class="feedback-description">
            info@mysite.com
        </div>
    </div>
    <div class="feedbacks-separator"></div>
    <div class="feedback">
        <div class="feedback-title">
            Время работы
        </div>
        <div class="feedback-description">
            Пн - Пт: 7:00 - 18:00
        </div>
    </div>
</div>